h1{
    color: beige;
    text-align: center;
    margin: 10px;
    font-family: 'Courier New', Courier, monospace;
}
h5{
    color: beige;
    text-align: center;
    margin: 10px;
    font-family: 'Courier New', Courier, monospace;
}
header{
    background-color: chocolate;
    border-radius: 20px;
    width: 100%;
}
body{
    background-color: bisque;
}
.sue{
    display: flex;
    height: 100%;
}
img{
    height: 500px;
    width: 400px;
    margin: 20px;
    border-style: solid;
    border-color: chocolate;
}
.top{
    float: left;
    margin: 30px;
    height: 100px;
}
p{
    word-wrap: break-word;
    width: 600px;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
}
.move{
    float: right;
}
.see{
    float:left;
}
.descuento{
    display: flex;
    float: left;
}